html, body {
  margin: 0;
  padding: 0;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  display: flex;

}

canvas {
  display: block;
}
